extends pug-bootstrap/_bootstrap
append styles
    link(href='css/login.css', rel='stylesheet')
block body
    .wrapper
        form.form-signin(method="post", action="")
            h2.form-signin-heading Log in
            input.form-control(type='email', name='email', placeholder='Email Address', required='', autofocus='')
            input.form-control(type='password', name='password', placeholder='Password', required='')
            label.checkbox
                input#rememberMe(type='checkbox', value='rememberMe', name='rememberMe')
                |  Remember me
            if errors
                .alert.alert-danger
                    each error, index in errors
                        div #{error}
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login